.main-button {
  background-color: white;
  font-family: Roboto;
  font-size: 50px;
  width: 50%;
  height: 20%;
  margin: auto;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
}
.main-button:hover {
  opacity: 70%;
  cursor: pointer;
}

.main-button:focus {
  outline: none;
}

body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 60px;
  font-family: Georgia;
  margin: auto;
  margin-top: 50px;
  word-wrap: normal;
  text-align: center;
}

.question {
  margin: auto;
  margin-top: 75px;
  font-size: 50px;
  font-family: Roboto;
  color: white;
  word-wrap: normal;
  text-align: center;
  width: 80%;
}
.horiz-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
}
#deck-text {
  color: white;
  font-family: Roboto;
  font-size: 50px;
}
#decks {
  width: 350px;
  font-size: 50px;
  color: white;
  background-color: black;
  font-family: Roboto;
  height: 60px;
  margin: auto;
  margin-left: 30px;
}
option {
  font-family: Roboto;
  font-size: 50px;
}
@media screen and (orientation: portrait) {
  .question {
    font-size: 80px;
    margin-top: 120px;
  }
  .main-button {
    height: 150px;
    font-size: 60px;
  }
  #deck-text {
    font-size: 80px;
  }
  #decks {
    font-size: 80px;
    height: 95px;
  }
}
