.main-button {
  background-color: white;
  font-family: Georgia;
  font-size: 2vw;
  width: 50%;
  margin: auto;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
}
.main-button:hover {
  opacity: 70%;
  cursor: pointer;
}

.main-button:focus {
  outline: none;
}

body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 3vw;
  font-family: Georgia;
  margin: auto;
  margin-top: 50px;
}

.question {
  margin: auto;
  margin-top: 75px;
  font-size: 2.5vw;
  font-family: Georgia;
  color: white;
  word-wrap: normal;
  text-align: center;
  width: 80%;
}
